<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Book Details</title>
    <script th:inline="javascript">
        const bookId = /*[[${bookId}]]*/ null;
    </script>
</head>
<body>
<h1>Book Details</h1>
<div id="bookDetails"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const bookDetailsContainer = document.getElementById("bookDetails");
        fetch(`/api/book/${bookId}`)
            .then(response => response.json())
            .then(book => {
                const authors = book.authors.map(author => `${author.firstName} ${author.lastName}`).join(", ");
                const categories = book.categories.map(category => category.name).join(", ");
                const comments = book.comments.map(comment => comment.text).join(", ");

                bookDetailsContainer.innerHTML = `
                        <h2>${book.title}</h2>
                        <p>Authors: ${authors}</p>
                        <p>Categories: ${categories}</p>
                        <p>Comments: ${comments}</p>
                    `;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });
</script>
</body>
</html>
