<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        select[multiple] {
            height: 100px;
        }
    </style>
</head>
<body>
<h1>Add Book</h1>

<form id="formElem">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Book Title" required>
    </div>
    <div>
        <label for="author">Authors:</label>
        <select id="author" name="author" multiple></select>
    </div>
    <div>
        <label for="category">Categories:</label>
        <select id="category" name="category" multiple></select>
    </div>
    <div>
        <button type="submit">Add Book</button>
        <a href="list.html" th:href="@{/api/book/}">
            <button type="button">Go Back</button>
        </a>
    </div>
</form>

<script>
    const selectedAuthors = [];
    const selectedCategories = [];

    function addBook(formData) {
        fetch('http://localhost:8000/api/book/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(rawResponse => {
            if (rawResponse.ok) {
                window.location.href = 'list.html';
            } else {
                console.error("Error:", rawResponse.statusText);
            }
        }).catch(error => {
            console.error("Error:", error);
        });
    }


    function initializeForm() {
        Promise.all([
            fetch('http://localhost:8000/api/author/'),
            fetch('http://localhost:8000/api/category/')
        ])
            .then(([authorsResponse, categoriesResponse]) => Promise.all([authorsResponse.json(), categoriesResponse.json()]))
            .then(([authors, categories]) => {
                const authorSelect = document.getElementById('author');
                authors.forEach(author => {
                    const option = document.createElement('option');
                    option.value = JSON.stringify(author);
                    option.textContent = author.firstName + ' ' + author.lastName;
                    authorSelect.appendChild(option);
                });

                const categorySelect = document.getElementById('category');
                categories.forEach(category => {
                    const option = document.createElement('option');
                    option.value = JSON.stringify(category);
                    option.textContent = category.name;
                    categorySelect.appendChild(option);
                });

                authorSelect.addEventListener('change', (event) => {
                    selectedAuthors.length = 0;
                    for (const option of event.target.selectedOptions) {
                        selectedAuthors.push(JSON.parse(option.value));
                    }
                });

                categorySelect.addEventListener('change', (event) => {
                    selectedCategories.length = 0;
                    for (const option of event.target.selectedOptions) {
                        selectedCategories.push(JSON.parse(option.value));
                    }
                });
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

    document.addEventListener("DOMContentLoaded", function () {
        initializeForm();

        const formElem = document.getElementById("formElem");
        formElem.addEventListener("submit", function (event) {
            event.preventDefault();

            const titleInput = formElem.querySelector('input[name="title"]');

            if (titleInput.value.trim() === "") {
                alert("Title is required.");
                return;
            }

            if (selectedAuthors.length === 0) {
                alert("At least one author must be selected.");
                return;
            }

            if (selectedCategories.length === 0) {
                alert("At least one category must be selected.");
                return;
            }

            const formData = {
                title: titleInput.value,
                authors: selectedAuthors,
                categories: selectedCategories
            };

            addBook(formData);
        });
    });
</script>
</body>
</html>
